---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import lynessSnow from '../public/images/snow.webp';
---

<Layout title="Welcome to Astro.">
	<main>
		<div>
			<Image src={lynessSnow} alt="Lyness in winter"></Image>
		</div>
	</main>
</Layout>